<!DOCTYPE html>
<html>
  <!--
    Thursday, February 21, 2019 11:27am

    “True discipline is remembering and recovering - inventing 
    if necessary - what interests you. It it doesn’t interest
    *you*, how could it possibly interest anyone else?”
    - Verlyn Klinkenborg

  --!>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!--<div id="spotlight"></div>-->
    <div id="page">
      {{content}}
    </div>
  </body>
</html>

